<button onclick="history.back()">Voltar</button>

<div *ngIf="viagens.length > 0; else semViagens">
  <h2>Viagens em Curso</h2>
  <ul class="lista-viagens">
    <li *ngFor="let viagem of viagensEmCurso">
      <ng-container *ngTemplateOutlet="templateViagem; context: { $implicit: viagem }"></ng-container>
    </li>
  </ul>

  <h2>Viagens Terminadas</h2>
  <ul class="lista-viagens">
    <li *ngFor="let viagem of viagensTerminadas">
      <ng-container *ngTemplateOutlet="templateViagem; context: { $implicit: viagem }"></ng-container>
    </li>
  </ul>
</div>

<ng-template #templateViagem let-viagem>
  <button [class.selected]="viagem === selectedViagem" (click)="onSelect(viagem)">
    <strong>Cliente:</strong> {{ this.getNomeCliente(viagem.pedido_id) }}<br>
    <strong>Número de Pessoas:</strong> {{ viagem.num_pessoas }}<br>
    <strong>Sequência:</strong> {{ viagem.sequencia }}<br>
    <strong>Data Início:</strong> {{ viagem.inicio_viagem | date: 'dd-MM-yyyy HH:mm' }}<br>
    <strong>Morada Início:</strong> {{ pedidoAtual?.morada_origem }}<br>
    <strong>Data Fim:</strong> {{ viagem.fim_viagem | date: 'dd-MM-yyyy HH:mm' }}<br>
    <strong>Morada Final:</strong> {{ pedidoAtual?.morada_destino }}<br>
  </button>

  <div *ngIf="viagem === selectedViagem">
    <button *ngIf="!viagemEmCurso && !selectedViagem?.inicio_viagem" (click)="iniciarViagem()">
      Iniciar Viagem
    </button>

<form #pedidoForm="ngForm" class="viagem-form" (ngSubmit)="finalizarViagem()" *ngIf="viagemEmCurso && selectedViagem?.inicio_viagem && !selectedViagem?.fim_viagem">
  <div>
    <label for="ruaDestino">Rua:</label>
    <input id="ruaDestino" type="text" name="ruaDestino" ngModel [(ngModel)]="moradaDestino.rua" #ruaDestino="ngModel">
  </div>

  <div>
    <label for="numeroPortaDestino">Número da Porta:</label>
    <input id="numeroPortaDestino" type="number" name="numeroPortaDestino" [(ngModel)]="moradaDestino.numero_porta" required #numeroPortaDestino="ngModel">
  </div>

  <div>
    <label for="codigoPostalDestino">Código Postal:</label>
    <input id="codigoPostalDestino" type="text" name="codigoPostalDestino" [(ngModel)]="moradaDestino.codigo_postal" required #codigoPostalDestino="ngModel"
      (blur)="buscarLocalidadeDestino(moradaDestino.codigo_postal)">
    <div *ngIf="codigoPostalDestinoNaoEncontrado" class="info-msg">Código postal de destino não encontrado.</div>
  </div>

  <div>
    <label for="localidadeDestino">Localidade:</label>
    <input id="localidadeDestino" type="text" name="localidadeDestino" [(ngModel)]="localidadeDestino" required>
  </div>
  <button type="button" (click)="buscarMoradaAtual()">
  Usar Localização Atual
  </button>
  <!-- Submit button at the bottom -->
  <button type="submit">
    Terminar Viagem
  </button>
</form>

    <div *ngIf="viagem.inicio_viagem && viagem.fim_viagem">
      <strong>Custo total:</strong> €{{ precoViagemSelecionada }}
      <strong>Distância:</strong> {{ distanciaViagemSelecionada }} km
    </div>
  </div>
</ng-template>

<ng-template #semViagens>
  <p>Este motorista ainda não tem viagens registadas.</p>
</ng-template>
