<header class="header">
    <h1>Bem-vindo à {{ title }}</h1>
    <p>O seu serviço de táxi de confiança.</p>
  </header>
  
  <div class="layout">
    <nav class="sidenav" [class.collapsed]="sidenavCollapsed">
     <!-- /*<a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>*/container-->
    <a routerLink="/gestor" routerLinkActive="active" class="link_taxis">
      <span class="link-text">Gestor</span>
    </a>
    <a routerLink="/motorista" routerLinkActive="active" class="link_motoristas">
      <span class="link-text">Motoristas</span>
    </a>
    <a routerLink="/pedidos" routerLinkActive="active" class = "link_requisitar_viagem">
      <span class = "link-text">Requisitar Viagem</span>
   
    </a>
    <!--  
    <a routerLink="/prices" routerLinkActive="active" class="link_calculadora">
      <span class="link-text">Preços de Viagem</span>
    </a>
    -->

    </nav>
    <!-- Toggle button placed right next to the sidenav -->
  <button (click)="toggleSidenav()" class="toggle-btn" [class.collapsed]="sidenavCollapsed">
    {{ sidenavCollapsed ? '»' : '«' }}
  </button>
    
  <main class="content" [class.expanded]="sidenavCollapsed">
      <router-outlet></router-outlet>
  </main>
  </div>
  