<h2>Definir Turno</h2>
<form (ngSubmit)="createTurnoFromForm()">
  <div class="form-group">
    <label for="startDate">Data de Início:</label>
    <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate" (ngModelChange)="onTimeChange()" required>
  </div>

  <div class="form-group">
    <label for="startTime">Hora de Início:</label>
    <input type="time" id="startTime" name="startTime" [(ngModel)]="inicio" (ngModelChange)="onTimeChange()" required>
  </div>

  <div class="form-group">
    <label for="endDate">Data de Fim:</label>
    <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate" (ngModelChange)="onTimeChange()" required>
  </div>

  <div class="form-group">
    <label for="endTime">Hora de Fim:</label>
    <input type="time" id="endTime" name="endTime" [(ngModel)]="fim" (ngModelChange)="onTimeChange()" required>
  </div>
  <label for="taxiSelect">Escolher Táxi Disponível:</label>
  <select id="taxiSelect" [(ngModel)]="selectedTaxiId" name="taxiSelect">
  <div *ngIf="validTimeFormat">
    <option *ngFor="let taxi of filtered_taxis" [value]="taxi._id">
      {{ taxi.matricula }} - {{ taxi.modelo }}
    </option>
  </div>
  </select>
  
  <br>

  <button type="submit" [disabled]="showError || !validTimeFormat || selectedTaxiId === ''">Submeter Turno</button>

</form>
<div *ngIf="showError" style="color: red;">
  Por favor, insira datas e horas válidas. <br>
  Devem ser posteriores á data atual e menor ou igual a 8 horas.
</div>
<div *ngIf="showErrorOverlap" style="color: red;">
  Um turno já existe nesse período de tempo.
</div>


<div *ngIf="taxiRequisitado">
  <h3>Turnos do Motorista: {{motorista_nome}}</h3>
  <div *ngFor="let turno of turnos_motorista">
    <p>Início: {{ turno.periodo.inicio | date:'HH:mm | dd/MM/yyyy' }}</p>
    <p>Fim: {{ turno.periodo.fim | date:'HH:mm | dd/MM/yyyy' }}</p>
    <p *ngIf="turno.taxi">Táxi: {{ turno.taxi.matricula }} - {{ turno.taxi.modelo }}</p>
    <hr>
  </div>
</div>