<h1>Marcar uma Viagem</h1>
<p>Preencha o formulário abaixo para solicitar uma viagem de táxi.</p>


<form #pedidoForm="ngForm" (ngSubmit)="createPedidoViagem(
  nome.value, nif.value, genero.value,
  ruaDestino.value, numeroPortaDestino.value, codigoPostalDestino.value, localidadeDestino,
  conforto.value, numPessoas.value
)">
  <h2>Dados do Cliente</h2>
  <div>
    <label for="nome">Nome do Cliente:</label>
    <input type="text" id="nome" name="nome" ngModel required #nome="ngModel">
  </div>

  <div>
    <label for="nif">NIF do Cliente:</label>
    <input type="text" id="nif" name="nif" ngModel required pattern="^[0-9]{9}$" #nif="ngModel">
    <div *ngIf="nif.invalid && nif.touched" class="info-msg">O NIF deve ter 9 dígitos.</div>
  </div>

  <div>
    <label for="genero">Género:</label>
    <select id="genero" name="genero" ngModel required #genero="ngModel">
      <option value="">Selecione...</option>
      <option value="Masculino">Masculino</option>
      <option value="Feminino">Feminino</option>
    </select>
  </div>



  <h2>Morada de Origem</h2>
  <div>
    <label for="ruaOrigem">Rua:</label>
    <input id="ruaOrigem" type="text" name="ruaOrigem" [(ngModel)]="moradaOrigem.rua" required #ruaOrigem="ngModel">
  </div>

  <div>
    <label for="numeroPortaOrigem">Número da Porta:</label>
    <input id="numeroPortaOrigem" type="number" name="numeroPortaOrigem" [(ngModel)]="moradaOrigem.numero_porta" required #numeroPortaOrigem="ngModel">
  </div>

  <div>
    <label for="codigoPostalOrigem">Código Postal:</label>
<input id="codigoPostalOrigem" type="text" name="codigoPostalOrigem"
       [(ngModel)]="moradaOrigem.codigo_postal"
       required #codigoPostalOrigem="ngModel"
       (ngModelChange)="verificarCodigoPostal($event)">

    <div *ngIf="codigoPostalOrigemNaoEncontrado" class="info-msg">Código postal de origem não encontrado.</div>
  </div>

  <div>
    <label for="localidadeOrigem">Localidade:</label>
    <input id="localidadeOrigem" type="text" name="localidadeOrigem" [(ngModel)]="localidadeOrigem" required>
  </div>

  <!-- Chama a função criarMoradaOrigemManual quando o formulário for preenchido e o botão for clicado -->
  <button type="button"
        (click)="criarMoradaOrigemManual(ruaOrigem.value, numeroPortaOrigem.value, codigoPostalOrigem.value, localidadeOrigem)">
  Confirmar Localização Atual
</button>
  <div *ngIf="moradaConfirmada" class="mensagem-sucesso">
    Morada Confirmada!
  </div>
  <div *ngIf="moradaNaoConfirmada" class="error">
    Morada Inválida! 
  </div>


  <h2>Morada de Destino</h2>
  <div id="mapa" style="height: 400px;">
    <app-mapa (coordenadasClicadas)="guardarCoordenadas($event)"></app-mapa>
  </div>


<br>

  <div>
    <label for="ruaDestino">Rua:</label>
    <input id="ruaDestino" type="text" name="ruaDestino" ngModel [(ngModel)]="moradaDestino.rua" #ruaDestino="ngModel">
  </div>

  <div>
    <label for="numeroPortaDestino">Número da Porta:</label>
    <input id="numeroPortaDestino" type="number" name="numeroPortaDestino" [(ngModel)]="moradaDestino.numero_porta" required #numeroPortaDestino="ngModel">
  </div>

  <div>
    <label for="codigoPostalDestino">Código Postal:</label>
    <input id="codigoPostalDestino" type="text" name="codigoPostalDestino" [(ngModel)]="moradaDestino.codigo_postal" required #codigoPostalDestino="ngModel"
      (blur)="buscarLocalidadeDestino(pedidoForm.value.codigoPostalDestino)">
    <div *ngIf="codigoPostalDestinoNaoEncontrado" class="info-msg">Código postal de destino não encontrado.</div>
  </div>

  <div>
    <label for="localidadeDestino">Localidade:</label>
    <input id="localidadeDestino" type="text" name="localidadeDestino" [(ngModel)]="localidadeDestino" required>
  </div>

  <div>
    <label for="conforto">Nível de Conforto:</label>
    <select id="conforto" name="conforto" ngModel required #conforto="ngModel">
      <option value="">Selecione...</option>
      <option value="basico">Básico</option>
      <option value="luxuoso">Luxuoso</option>
    </select>
  </div>

<div>
    <label for="numPessoas">Número de Pessoas:</label>
    <input type="number" id="numPessoas" name="numPessoas" ngModel required min="1" max="99" #numPessoas="ngModel">
  </div>

  <button type="submit" [disabled]="!pedidoForm.valid">Criar Pedido de Viagem</button>
</form>



<h2>Lista de Pedidos de Viagem</h2>
<ul class="lista-pedidos">
  <li *ngFor="let pedido of pedidos.slice().reverse()">
    <button [class.selected]="pedido === selectedPedido" (click)="onSelect(pedido)">
      <span class="cliente">Cliente: {{ pedido.cliente_nome }}</span><br />
      <span class="destino">
        Destino: {{ pedido.morada_destino.codigo_postal }} {{ pedido.morada_destino.localidade }}
      </span><br />
      <span class="conforto">Conforto: {{ pedido.nivel_conforto }}</span><br />
      <span class="estado">Estado: {{ pedido.estado }}</span><br />

      <!-- Só mostra distância e taxi_id se estado for 'aceite' -->
      <ng-container *ngIf="pedido.estado === 'aceite' || pedido.estado === 'em curso'">
        <span class="nome_motorista">Motorista: {{ this.getMotoristaNome(pedido.motorista)}} </span><br />

        <span class="distancia">Distância ao Motorista: {{ pedido.distancia_motorista }} km</span><br />
      </ng-container>



      <span class="tempo">Tempo Estimado: {{ pedido.tempo_estimado }} min</span><br />
      <span class="custo">Custo Estimado: €{{ pedido.custo_estimado }}</span>
    </button>

    <ng-container *ngIf="pedido.estado === 'aceite'">
      <button type="button" (click)="aceitarPedido(pedido)">Aceitar</button>
      <button type="button" (click)="recusarPedido(pedido)">Recusar</button>
    </ng-container>
      <ng-container *ngIf="pedido.estado === 'aceite' || pedido.estado === 'pendente'">
        <button type="button" class="delete" title="Apagar Pedido" (click)="deletePedido(pedido)">x</button>

      </ng-container>
    </li>
    
</ul>




  

            
