<h2>Lista de Táxis</h2>
<ul class="taxis">
  <li *ngFor="let taxi of taxis">
    <button type="button">
      <span class="badge">ID: {{ taxi.id }}</span>
      <span class="matricula">Matrícula: {{ taxi.matricula }}</span><br />
      <span class="marca">Marca: {{ taxi.marca }}</span>
      <span class="modelo">Modelo: {{ taxi.modelo }}</span><br />
      <span class="ano">Ano de Compra: {{ taxi.ano_de_compra }}</span><br />
      <span class="conforto">Nível de Conforto: {{ taxi.nivel_de_conforto }}</span>
    </button>
  </li>
</ul>
