
<div *ngIf="taxi">
    <h2>{{ taxi.matricula | uppercase }} Details</h2>
    
    
    <div>
      <label for="taxi-matricula">Matrícula: </label>
      <input id="taxi-matricula" [(ngModel)]="taxi.matricula" placeholder="matrícula">
    </div>
  
    <div>
      <label for="taxi-marca">Marca: </label>
      <input id="taxi-marca" [(ngModel)]="taxi.marca" placeholder="marca">
    </div>
  
    <div>
      <label for="taxi-modelo">Modelo: </label>
      <input id="taxi-modelo" [(ngModel)]="taxi.modelo" placeholder="modelo">
    </div>
  
    <div>
      <label for="taxi-ano">Ano de Compra: </label>
      <input id="taxi-ano" type="number" [(ngModel)]="taxi.ano_de_compra" placeholder="ano de compra">
    </div>
  
    <div>
      <label for="taxi-conforto">Nível de Conforto: </label>
      <select id="taxi-conforto" [(ngModel)]="taxi.nivel_de_conforto">
        <option value="basico">Basico</option>
        <option value="luxuoso">Luxuoso</option>
      </select>
    </div>
  </div>
  
  